$primary: var(--primary);
$white: var(--white);
$accent: var(--accent);
$gray: var(--gray);
$darkgray: var(--darkgray);
$pink: var(--pink);
$soft-gray: var(--soft-gray);
$light-gray: var(--light-gray);
$a-gray: var(--a-gray);
