:root {
  --primary: #585292;
  --white: #fff;
  --accent: #e07c7c;
  --gray: #d1d0d9;
  --darkgray: #3b3b3b;
  --pink: #ebb9b8;
  --soft-gray: #bcbcbc;
  --light-gray: #f5f5f5;
  --a-gray: #a9a9a9;
}

:root {
  --tx-28: 1.75rem;
  --tx-24: 1.5rem;
  --tx-16: 1rem;
  --tx-13: 0.813rem;
}
