@import "/variables";

.progress-component {
  background-color: $accent;
  padding: 18px 19px;
  border-radius: $round-lg;
  display: flex;
  flex-flow: column;
  row-gap: 12px;

  @media (max-width: 720px) {
    border-radius: 0;
  }

  &__header {
    color: $base-white;
  }

  &__bar {
    width: 100%;
    height: 8px;
    background-color: $gray-500;
    border-radius: $round-lg;
  }

  &__fill {
    height: 100%;
    background-color: $white;
    border-radius: $round-md;
    width: var(--complete-percentage);
    transition: width $slow;
  }

  &__percentage-text {
    color: $pink;
  }
}
