@import "/variables";

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  row-gap: 16px;
  overflow: auto;
  height: 294px;

  .task-item-component {
    list-style-type: none;
    height: 46px;
    background-color: $white;
    border-radius: $round-xl;
    display: flex;
    align-items: center;
    padding: 14px 14px 14px 22px;
    box-sizing: border-box;
    transition: transform $slow, opacity $slow;

    &[data-is-edit="true"] {
      padding: 14px 4px 14px 22px;
    }

    &[data-is-edit="false"] {
      padding: 14px 14px 14px 22px;
    }

    .task-item-component__edit-input {
      width: 100%;
      display: flex;
      justify-content: space-between;
      input {
        border: none;
        outline: none;
        font-size: $tx16;
        background-color: $white;
        color: $black;
      }
      button {
        all: unset;
        padding: 10px 18px;
        box-sizing: border-box;
        background-color: $primary;
        color: $white;
        border-radius: $round-xl;
        transition: $slow;
        &:hover {
          background-color: #49457c;
        }
        &:active {
          background-color: darkblue;
        }
      }
    }

    .task-item-component__container {
      display: flex;
      align-items: center;
      column-gap: 16px;
      width: 100%;

      .task-item-component__todo-text {
        color: $black;

        &[data-completed="true"] {
          color: $gray-400;
          text-decoration: line-through;
        }
      }

      .task-item-component__menu {
        margin-left: auto;

        .task-item-component__dots-icon {
          display: grid;
          place-items: center;
          width: 32px;
          height: 32px;
          border-radius: $round-full;
          cursor: pointer;
          transition: background-color $slow;
          &:hover {
            background-color: $gray-100;
          }
          &:active {
            background-color: $gray-300;
          }
        }
      }
    }

    &[data-fade="in"] {
      opacity: 1;
      transform: translateY(0);
    }

    &[data-fade="out"] {
      opacity: 0;
      transform: translateY(-18px);
    }
  }
}
.task-item-component__menu-list {
  padding: 8px;

  &-item {
    padding: 8px;
    border-radius: $round-md;
    cursor: pointer;
    transition: background-color $fast;
    user-select: none;
    color: $black;
    &:hover {
      background-color: $gray-100;
    }
    &:active {
      background-color: $gray-300;
    }
    &[data-delete] {
      color: $accent;
    }
  }
}
