@import "/variables";

.todo-app {
  width: 720px;
  height: 676px;
  background-color: $gray-100;
  font-family: $regular;
  border-radius: 20px;
  padding: 60px 100px;
  box-sizing: border-box;

  @media (max-width: 720px) {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
}
